{% extends 'caida/base.html' %}
{% load static %}
{% block content %}
<aside class="sidebar">
    <a href="{% url 'inicio_admin' %}" class="activo">Inscripripciones</a>
    <a href="{% url 'crear_hermano' %}">Hermanos</a>
    <a href="{% url 'crear_acto' %}">Actos</a>
    <a href="#">Mi Perfil</a>
    <a href="#">Notificaciones</a>
    <a href="#">Configuración</a>
</aside>

<main>
    <div class="page-header">
        <h1>Panel de Administración</h1>
        <p>Bienvenido, Administrador.</p>
    </div>

    <div class="contenedor-tabla">
        <h2 class="titulo-tabla">Últimas inscripciones</h2>
        <table>
            <thead>
                <tr>
                    <th>Hermano</th>
                    <th>Acto</th>
                    <th>Fecha</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Pérez</td>
                    <td>Traslado de ida</td>
                    <td>20/04/2026</td>
                    <td>Costalero</td>
                    <td><span class="etiqueta etiqueta-activo">Confirmada</span></td>
                    <td><button class="btn btn-small btn-secondary">Ver</button></td>
                </tr>
                <tr>
                    <td>María García</td>
                    <td>Traslado de ida</td>
                    <td>20/04/2026</td>
                    <td>Tambor</td>
                    <td><span class="etiqueta etiqueta-pendiente">Pendiente</span></td>
                    <td><button class="btn btn-small btn-secondary">Ver</button></td>
                </tr>
                <tr>
                    <td>Carlos López</td>
                    <td>Misa Onomástica Rosario</td>
                    <td>15/03/2026</td>
                    <td>Aistente</td>
                    <td><span class="etiqueta etiqueta-activo">Confirmada</span></td>
                    <td><button class="btn btn-small btn-secondary">Ver</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button-group">
        <a href="{% url 'crear_acto' %}" class="btn btn-primary">Crear Acto</a>
        <a href="{% url 'crear_hermano' %}" class="btn btn-primary">Crear Hermano</a>
    </div>
    <div class="margen-superior-2">
        <a href="{% url 'inicio_hermano' %}" class="btn btn-primary">Inicio Usuario</a>
        <a href="{% url 'inicio_admin' %}" class="btn btn-primary">Inicio Admin</a>
    </div>
</main>
{% endblock %}